<footer>
	<nav class="footer__nav">
		<!--<ul class="footer__list">
			<li class="footer__item"><a href="#" class="footer__link">About
					us</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Support</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Press</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Api</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Jobs</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Privacy</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Directory</a></li>
			<li class="footer__item"><a href="#" class="footer__link">Language</a></li>
		</ul>-->
	</nav>
	<span class="footer__copyright">© 2021 ITER</span>
</footer>

<script type="text/javascript">
        {{>js/app}}
        {{>js/modal}}
</script>
</body>
</html>