{{>layout/header}}
{{#posts}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<main id="feed">
<style>
    a { text-decoration: none; color: black; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
</style>
<div class="photo u-default-box">
    <header class="photo__header">
        <a href="/user/{{user.id}}">
            <img src="{{#user.profileImage}}{{getUserProfileImage}}{{/user.profileImage}}"
                 onerror="this.src='{{storageUrl}}/static/avatar.jpg'" />
        </a>

        <a class="photo__username" href="/user/{{user.id}}">{{user.username}}</a>
    </header>
    <div class="photo_post_image"> <!-- 사진꽉채우기 css -->
        {{#images}}
            <img class="mySlides img-{{post.id}}" src="{{url}}" />
        {{/images}}
    </div>
    <div class="w3-center">
        <button id="btn-prev-{{id}}" class="w3-btn" onclick="plusDivs(-1, 'img-{{id}}')">&#10094; Prev</button>
        <button id="btn-next-{{id}}" class="w3-btn" onclick="plusDivs(1, 'img-{{id}}')">Next &#10095;</button>
    </div>

    <div class="photo__info">
        <div class="photo__actions">
            <span class="photo__action">
                {{#likeState}}
                    <i class="fa heart heart-clicked fa-heart" onclick="unLike({{id}})"></i>
                {{/likeState}}
                {{^likeState}}
                    <i class="fa fa-heart-o heart" onclick="like({{id}})"></i>
                {{/likeState}}
            </span>
            <span class="photo__action">
                {{#postHost}}
                <i onclick="postDelete({{id}})" class="fa fa-trash"></i>
                {{/postHost}}
            </span>
        </div>

        <div class="photo_tag">
            {{#tags}}
                <a href="/post?tag={{name}}">#{{name}} </a>
            {{/tags}}
        </div>

        <span class="location__text" style="font-weight:bold;font-size:20px;">위치</span>
        <div id="map" style="width:270px; height:140px;margin-right:auto;"></div>
        <br/>

        <span class="photo__likes">{{likeCount}} likes</span>
        <span class="photo__likes">{{viewCount}} Watched</span>
        <br/>
        <span style="font-size:14px;">{{content}}</span>
        <br/>
        <ul class="photo__comments">
            {{#comments}}
                <li class="photo__comment">
                    <a href="/user/{{user.id}}" ><span class="photo__comment-author">{{user.username}}</span></a>
                    <span style="font-size:12px;">{{content}}</span>
                    {{#commentHost}}
                        <i onclick="commentDelete({{id}})" class="fa fa-trash"></i>
                    {{/commentHost}}
                </li>
            {{/comments}}
        </ul>
        <span class="photo__date">{{createDateString}}</span>

        <div class="photo__add-comment-container">
            <form id="frm-{{id}}" style="width:100%;">
                <input type="hidden" name="userId" value="{{loginUser.id}}" />
                <input type="hidden" name="postId" value="{{id}}" />
                <textarea id="content-{{id}}" name="content"  placeholder="Add a comment..."></textarea>
            </form>
            <i onclick="commentSend({{id}})" class="fa fa-angle-right"></i>
        </div>
    </div>
</div>
{{/posts}}

</main>
<script type="text/javascript">
    function postDelete(postId) {
        fetch("/post/" + postId, {
            method: "delete"
        }).then(function (res) {
            return res.text();
        }).then(function (res) {
            alert("게시글이 삭제되었습니다.");
            location.href="/";
        });
    }

    {{>js/comment}}
    {{>js/like}}
</script>

<script>
    var slideIndex = 1;
        {{#posts}}
        showDivs(slideIndex, 'img-{{id}}');
        if(document.getElementsByClassName('mySlides img-{{id}}').length === 1) {
            document.getElementById("btn-prev-{{id}}").style.display="none";
            document.getElementById("btn-next-{{id}}").style.display="none";
        }
        {{/posts}}

    function plusDivs(n, class_id) {
        showDivs(slideIndex += n, class_id);
    }

    function showDivs(n, class_id) {
        var i;
        var x = document.getElementsByClassName(class_id);
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1b29e5f1a06b5ed964627df8f7e9c4b9&libraries=services"></script>
{{#posts}}
{{#images}}
<script>
    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng({{latitude}},{{longitude}}), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커 생성
    var markerPosition = new kakao.maps.LatLng({{latitude}},{{longitude}})

    var marker = new kakao.maps.Marker({
        position: markerPosition
    })
    // 마커 표시
    marker.setMap(map);
    //인포윈도우 내용,위치
    var iwContent = '<div style="padding:5px; font-size:12px;">test</div>',
            iwPosition = new kakao.maps.LatLng({{latitude}},{{longitude}})
    //윈포윈도우 생성
    var infowinodw = new kakao.maps.InfoWindow({
        position : iwPosition,
        content : iwContent
    })
    //마커 위 윈포윈도우 표시
    infowinodw.open(map, marker);
</script>
{{/images}}
{{/posts}}
{{>layout/footer}}