{{>layout/header}}

<main id="edit-profile">
	<div class="edit-profile__container u-default-box">

    {{#user}}
        <header class="edit-profile__header">
            <div class="fucker-container">
                <img src="{{#profileImage}}{{profileImage}}{{/profileImage}}"
    {{/user}}
                     onerror="this.src='{{storageUrl}} /static/avatar.jpg'" />
            </div>
    {{#user}}
            <!-- master comments -->
            <h1 class="edit-profile__username">{{username}}</h1>
        </header>

        <form id="frm" class="edit-profile__form">
            <input type="hidden" name="id" value="{{id}}"/>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="name">Name</label>
                <input name="name" type="text" value="{{name}}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="username">Username</label>
                <input type="text" value="{{username}}" readonly>
            </div>

            <div class="edit-profile__row">
                <label class="edit-profile__label" for="bio">Bio</label>
                <input name="bio" type="text" value="{{#bio}}{{bio}}{{/bio}}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="email">Email</label>
                <input type="email" value="{{#email}}{{email}}{{/email}}" readonly>
            </div>

            <div class="edit-profile__row">
                <span></span>
                <button onclick="userUpdate({{id}})" class="profile_follow_btn" type="button">
                    회원수정
                </button>
            </div>
        </form>
    {{/user}}
	</div>
</main>

<script type="text/javascript">
        {{>js/profile}}
</script>

{{>layout/footer}}
